<div class="form">
  <div class="LoginFormContainer">
    <div class="LoginFormInnerContainer">
      <form [formGroup]="productForm">
        <div class="field-container">
          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Product Name</mat-label>
              <input
                matInput
                placeholder="Product Name"
                formControlName="product_name"
                maxlength="30"
              />
              <mat-error
                *ngIf="productForm.get('product_name')?.hasError('required')"
              >
                Product name is required
              </mat-error>
              <mat-error
                *ngIf="productForm.get('product_name')?.hasError('maxlength')"
              >
                Name is less than 50 char.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Category</mat-label>
              <mat-select
                formControlName="category_id"
                placeholder="Select Category"
              >
                <mat-option [value]="" (click)="addCategory()">
                  <mat-icon>add</mat-icon>
                  Add category
                </mat-option>
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category._id"
                >
                  {{ category.category_name }}
                </mat-option>
                <mat-option
                  *ngIf="!categories?.length"
                  [value]=""
                  (click)="addCategory()"
                >
                  No category found, please Add category
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="productForm.get('category_id')?.hasError('required')"
                >Category is required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="field-container">
          <div class="inputContainer description-field">
            <mat-form-field class="description-field">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                placeholder="Description"
                formControlName="description"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="field-container">
          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Cost Price</mat-label>
              <input
                matInput
                placeholder="Cost Price"
                type="number"
                formControlName="cost_price"
              />
              <mat-error
                *ngIf="productForm.get('cost_price')?.hasError('required')"
                >Cost price is required</mat-error
              >
            </mat-form-field>
          </div>

          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Selling Price</mat-label>
              <input
                matInput
                placeholder="Selling Price"
                type="number"
                formControlName="selling_price"
              />
              <mat-error
                *ngIf="productForm.get('selling_price')?.hasError('required')"
                >Selling price is required</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="field-container">
          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Quantity in Stock</mat-label>
              <input
                matInput
                placeholder="Quantity in Stock"
                type="number"
                formControlName="quantity_in_stock"
              />
              <mat-error
                *ngIf="
                  productForm.get('quantity_in_stock')?.hasError('required')
                "
                >Quantity in stock is required</mat-error
              >
            </mat-form-field>
          </div>

          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Reorder Point</mat-label>
              <input
                matInput
                placeholder="Reorder Point"
                type="number"
                formControlName="reorder_point"
              />
            </mat-form-field>
          </div>
        </div>
        <span class="button-wrapper" action-wrapper>
          <button mat-button mat-raised-button (click)="onNoClick()">
            <mat-icon>close</mat-icon>
            Cancel
          </button>
          <button
            mat-raised-button
            color="primary"
            cdkFocusInitial
            [disabled]="productForm.invalid"
            (click)="onSaveClick()"
          >
            <mat-icon>save</mat-icon>
            Submit
          </button>
        </span>
      </form>
    </div>
  </div>
</div>
