table {
  width: 100%;

  th,
  td {
    text-align: center;
  }
}

.action-cell {
  min-width: 50px;
}

.custom-mat-select {
  margin-top: 15px;
}

.demo-button {
  margin: 16px;
}

.custom-dialog {
  padding: 25px;
}

.example-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-container {
  display: flex;
  gap: 1rem;
  min-height: 75px;
}

.description-field {
  width: 100%;
}

.button-wrapper {
  display: flex;
  gap: 0.725rem;
}

.inputContainer {
  min-height: 70px
}


@media only screen and (max-width: 600px) {
  .field-container {
    display: block;
  }
}
