table {
  width: 100%;

  th,
  td {
    text-align: center;
  }
}

.action-cell {
  min-width: 50px;
}

.custom-mat-select {
  margin-top: 15px;
}

.example-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
